/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav {
        background-color: #536878;  
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
    }
    header img {
        width: 200px;
        height: auto;
    }

    .h2main {
        text-align: center;
    }

    header {
        background-color: #808080;
    }
} /*end large */

footer {
	font-size: 0.9em;
	padding: 1.5rem;
	text-align: center;
	background-color: #808080;
	color: white;
	border: 3px solid #ccc;
	border-radius: 1em; 
  }
  
  .subscript {
	font-size: 0.7em;
	padding: 0.5rem;
	text-align: center;
  }