/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    /* ----- BANNER TOP ----- */

    .banner {
        height: 50px;
        line-height: 50px;
        background: #EC9A29;
        text-align: center;
        font-size: 18px;
    }

    /* ----- HEADER ----- */

    header img {
        width: 150px;
        height: auto;
    }

    header {
        background-color: #808080;
    }

    h1, h2, p {
        margin: 0;
    }
    /* ----- NAV ----- */

    nav {
        background-color: #536878;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    /* ----- MAIN ----- */

    .h2main {
        text-align: center;
        font-size: 30px;
        margin: 1.5rem;
        text-transform: uppercase;
    }

    .herodiv {
        margin: 10px auto;
        position: relative;
    }
     h1, h2, p {
        margin: 0;
    }

    .stats {
	    position: absolute;
    	top: 35px;
	    right: 35px;
    	background: radial-gradient(#eee, #4567aa);
        border: 3px solid #ccc;
        border-radius: 1em;
	    padding: 1.5rem;
	    box-shadow: 0 0 30px #111;
	    opacity: .8;
    }

    .img-principal {
        border: 3px solid #ccc;
	    border-radius: 1em; 
        width: 100%;
        height: 400px;
    }

    .stats h2 {
        font-size: 25px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 5px black;
    }

    .stats p {
        font-size: 15px;;
    }

    .h2-fiveday {
        font-size: 40px;
        text-align: center;
    }

    .five-day {
        display: block;
        flex-wrap: wrap;
        text-align: center;
    }

    .fiveday-box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
     }

    .fas {
        font-size:22px;
        padding: 0.5rem; 
    }

    .fas p {
        margin-top: 20px;
    }

    .grid-article {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 1em;
    }

    .h2-article {
        font-size: 40px;
        grid-column: 1/7;
        grid-row: 1/2;
        text-align: left;
    }

    .p-article {
        grid-column: 1/5;
        grid-row: 2/5;
        font-size: 18px;
    }

    .img-article {
        grid-column: 5/8;
        grid-row: 2/5;
        width: 100%;
        height: 400px;
        border: 1px solid rgb(124, 124, 124);
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
        
      }

      table {
        width: 60%;
              
      }
    .center {
       margin-left: auto;
       margin-right: auto;
    }

    .five_day_title{
        font-size: 30px;
        color: #536878;
    }

    .events-header{
        text-align: center;
        margin-top: 20px;
    }

    .current-events {
        margin-left: 30%;
        margin-right:30%;
    }

    /* ----- FOOTER PAGE ----- */

    .gmap {
        grid-column: 1/5;   
        grid-row: 1/2;
        margin-left: auto;
        margin-right: auto;
        width:300px; 
        height:250px;
        border: 3px solid #ccc;
        border-radius: 1em;
    }

    .contactinfo h4 {
        font-size: 22px;
    }

    .navlinks li {
        font-size: 17px;
        list-style:none;
        text-align: center;
    }
}
