article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    justify-items: center;
  }
  
  h1 {
    text-align:  center;
    font-size: 3em;
  }
  
  /* article img[data-src] {
    filter: blur(0.2em);
  } */
  
  article img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

body {
    background-color:rgb(172, 172, 177);
}