/* CSS for tablet view*/

@media (min-width: 37.5em) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em;
    }
  
    .sec1 {
      grid-column: 1;
    }
  
    .sec2 {
      grid-column: 2;
    }
    .sec3 {
      grid-column: span 2;
    }
  
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.5em;
    }
    .myname {
      font-size: 1.75em;
    }
  
    .intro {
      grid-column: 1 / span 2;
    }
  }